.infoBox {
  flex: 2;
}

.infoBox:not(:last-child) {
  margin-right: 100px;
}

.infoBox_cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox_totals {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-bottom: 15px !important;
}
